*{
    margin: 0;
    padding: 0;
}
div.top{
    
    text-align: center;
    color:#11999E ;
    background-image:url(image/wallpaperflare.com_wallpaper\ \(15\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
}  
div.video{
    background-color: black;
    
}